<!doctype html>
<html lang="en">
<head>
   <link href="https://fonts.googleapis.com/css?family=Fascinate" rel="stylesheet">
  <title>MOVIES</title>
  <link rel='stylesheet' href='/stylesheets/main.css'>
</head>
<body>

  <%= yield %>

</body>
</html>