body{
	background-color: #ccc;
}

span {
	color: red;
	font-weight: bold;
}

div {
	position: center;
	margin-top: 100px;
	padding-left: 30px;
	width: 30%;
	margin-left: 20%;
	background-color: white;
	float: left;
}

p {
	padding-right: 10px;
}

.secondDiv {
	float: right;
	margin-left: 0px;
}

header {
	height: 200px;
	background-image: url(../images/background.jpg);
	background-repeat: repeat-x;
	width: 100%;
}

