<!doctype html>
<html lang="en">
<head>
  <link href="https://fonts.googleapis.com/css?family=Fascinate" rel="stylesheet">
  <title>Hello World</title>
  <link rel='stylesheet' href='/stylesheets/style.css'>
</head>
<body>

		<nav class="nav" class=>
		<a href="/">home</a>
		<a href="/about">about</a>
	</nav>

  <%= yield %>

</body>
</html>
