.container {
	width: 100%;
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	font-weight: bold;
}

h1 {
	display: inline-block;
	float: right;
	width: 50%;
	padding-top: 50px;
	padding-right: 25%;
}

main {
	text-align: center;

}

.savings {
	display: inline-block;
	border: 2px solid black;
	text-align: center;
	background-color: lightgreen;
	margin-right: 10%; 
	padding: 30px 50px 30px 50px;
}  

.checking {
	display: inline-block;
	border: 2px solid black;
	text-align: center;
	background-color: lightblue;
	padding: 30px 50px 30px 50px;
}

.amount1 { 
	background-color: white;
	color: blue;
 }

 .amount2 { 
	background-color: white;
	color: blue;
 }

 body {
 	text-align: center;
 }

 button {
 	background-color: lightgrey;
 }

 .money1 {
 	font-size: 25px;
 }

 .money2 {
 	font-size: 25px;
 }

 .zeroBalance {
 	background-color: red;
 }

 .balance {
 	font-size: 10px;
 }