$test: red;

.weak {
  color: $test;
  background-color: white;
}

.better {
  color: orange;
  background-color: white;
}

.strong {
  color: green;
  background-color: white;
}

.very-strong {
  color: rgb(37, 48, 202);
  background-color: white;
}