<h1>Welcome to the Sorting Hat!</h1>
<% image_tag "http://flavorwire.files.wordpress.com/2009/06/sorting-hat.jpg" %>

<form action="/students" method="post">
	<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token%>">
	<label for="">name</label>
	<input type="text" name="name">
	<label>image</label>
	<input type="text" name="image">
	<button>Submit</button>
</form>